/* Home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

.header {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.login-btn {
    padding: 0.60rem 1.5rem;
}

/* fim login */

.container {
    max-width: 600px;
    margin: 3rem auto;
    padding: 0 2rem;
}

.page-title {
    margin-bottom: 2rem;
}

.input_item {
    flex-grow: 1;
    padding: 1rem;
    width: auto;
}

.add-tarefa form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.btn-add {
    padding: 10px;
    width: 10em;
    height: 3.8em;
    flex-shrink: 0;
}

.lista-item-container {
    display: inline-flex;
    justify-items: baseline;
    text-align: center;
    gap: 20px;
}


.item-lista-li{
    padding: 10px;
}

.mensagem-lista-vazia {
    text-align: start;
}

/* Cadastre-se / Login */

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

.cadastre-se {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    padding-bottom: 20px;
} 

.cadastre-se h5 {
    padding-bottom: 5px;
}

#email,
#senha,
#confirmacaoSenha,
#nome {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::placeholder {
    padding-left: 10px;
}

input:focus {
    padding-left: 2em;
}

.btn {
    margin-right: auto;
    margin-left: auto;
}

#btn {
    width: 22em;
    height: 2.5em;
    margin-bottom: 10px;
}

.login {
    padding-bottom: 20px;
}

.task-list {
    display: flex;
    flex-direction: column; 
    list-style: none;     
    padding: 0;
    gap: 10px;   
    width: 32em;         
}

#completedList li{
    align-items: flex-start; 
    width: 32em;         
}


#listaTarefas li,
#completedList li {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
